<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!--UrlRewriter Start-->
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/(\d+)/(\d+)</LookFor>
        <SendTo>~/article/view.aspx?cate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(\d+)/(\d+)/</LookFor>
        <SendTo>~/article/view.aspx?cate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(\d+)/(\d+).aspx</LookFor>
        <SendTo>~/article/view.aspx?cate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(\d+)/</LookFor>
        <SendTo>~/article/index.aspx?cate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/notice/(\d+)/(\d+)</LookFor>
        <SendTo>~/notice/view.aspx?noticecate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/notice/(\d+)/(\d+)/</LookFor>
        <SendTo>~/notice/view.aspx?noticecate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/notice/(\d+)/(\d+).aspx</LookFor>
        <SendTo>~/notice/view.aspx?noticecate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/notice/(\d+)/</LookFor>
        <SendTo>~/notice/index.aspx?noticecate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/notice/(\d+)</LookFor>
        <SendTo>~/notice/index.aspx?noticecate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/(\d+)</LookFor>
        <SendTo>~/article/index.aspx?cate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/special/(\d+)/</LookFor>
        <SendTo>~/article/tag.aspx?cate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/special/(\d+)</LookFor>
        <SendTo>~/article/tag.aspx?cate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/personnel/(\d+)/</LookFor>
        <SendTo>~/article/personnel.aspx?cate_id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/personnel/(\d+)</LookFor>
        <SendTo>~/article/personnel.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/online/(\d+)/</LookFor>
        <SendTo>~/article/online.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/online/(\d+)</LookFor>
        <SendTo>~/article/online.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Voice/(\d+)/</LookFor>
        <SendTo>~/article/Voice.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Voice/(\d+)</LookFor>
        <SendTo>~/article/Voice.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Voice/(\d+)/(\d+)</LookFor>
        <SendTo>~/article/Voice_detail.aspx?cate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Voice/(\d+)/(\d+)/</LookFor>
        <SendTo>~/article/Voice_detail.aspx?cate_id=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/special</LookFor>
        <SendTo>~/article/special.aspx</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/special/</LookFor>
        <SendTo>~/article/special.aspx</SendTo>
      </RewriterRule>
      
      

    </Rules>
  </RewriterConfig>
  <!--UrlRewriter End-->
  <appSettings>
    <add key="SQLHelper" value="Glaer.Trade.Util.SQLHelper" />
    <add key="Encrypt" value="Glaer.Trade.Util.Encrypt" />
    <add key="Tools" value="Glaer.Trade.Util.Tools" />
    <add key="UploadFile" value="Glaer.Trade.Util.UploadFile" />
    <add key="Mail" value="Glaer.Trade.Util.Mail" />
    <add key="TraceError" value="Glaer.Trade.Util.TraceError" />
    <add key="BLLRBACUser" value="Glaer.Trade.B2C.BLL.Sys" />
    <add key="DALRBACUser" value="Glaer.Trade.B2C.DAL.Sys" />
    <add key="BLLRBAC" value="Glaer.Trade.B2C.RBAC" />
    <add key="BLLCMS" value="Glaer.Trade.B2C.BLL.CMS" />
    <add key="DALCMS" value="Glaer.Trade.B2C.DAL.CMS" />
    <add key="BLLAD" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALAD" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLADPosition" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALADPosition" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLAD_Position_Channel" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALAD_Position_Channel" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLSAL" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALSAL" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLMEM" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMEM" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLMemberLog" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberLog" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLFeedBack" value="Glaer.Trade.B2C.BLL.MEM"/>
    <add key="DALFeedBack" value="Glaer.Trade.B2C.DAL.MEM"/>
  </appSettings>
  <connectionStrings>
    <add name="connstr_readonly" connectionString="server=192.168.0.9;uid=sa;pwd=123456;database=tskp_db;pooling=true" />
    <add name="connstr_writeable" connectionString="server=192.168.0.9;uid=sa;pwd=123456;database=tskp_db;pooling=true" />
  </connectionStrings>
  <system.web>
    <!--UrlRewriter Start-->
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <!--UrlRewriter End-->
    <httpHandlers>
      <add path="*.htm" verb="*" type="System.Web.UI.PageHandlerFactory" />
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--去掉默认的人安全机制 validateRequest="false"-->
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors defaultRedirect="/error.aspx">
      <error statusCode="403" redirect="/error.aspx" />
      <error statusCode="404" redirect="/404.aspx" />

    </customErrors>
  </system.web>
  <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="img-src *.tskp.com;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CnasLabServiceSoapBinding" textEncoding="UTF-8" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://59.108.33.40:8079/services/cnasLabService" binding="basicHttpBinding" bindingConfiguration="CnasLabServiceSoapBinding" contract="CnasLabService.ILabService" name="CnasLabServicePort" />
    </client>
  </system.serviceModel>
</configuration>
